@page "/"
@inject HeroService heroService

<h3>Top Heroes</h3>
<div class="grid grid-pad">
    @foreach (var hero in topFive)
    {
        <a class="col-1-4" href="/HeroDetails/@hero.Id">
            <div class="module hero">
                <h4>@hero.Name</h4>
            </div>
        </a>
    }
</div>

@code{

    private List<Hero> topFive;

    protected override async Task OnInitializedAsync()
    {
        var _heroesList = await Task.FromResult(heroService.GetHeroes());
        topFive = _heroesList.OrderByDescending(q => q.Id).Take(4).ToList();
    }
}