@page "/HeroDetails/{Id:int}"

@inject HeroService heroService
@inject IJSRuntime JSRuntime

    <div>
        <h2>@DetailedHero.Name.ToUpper() Details</h2>
        <div><span>id: </span>@DetailedHero.Id</div>
        <div>
            <label>
                name:
                <input @bind-value="@DetailedHero.Name" placeholder="name" />
            </label>
        </div>

    </div>

    <button @onclick="@(e=>GoBack())">go back</button>

@code {

    private Hero DetailedHero
    {
        get;
        set;
    }

    [Parameter]
    public int Id
    {
        get; set;
    }

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            var allHeros = await Task.FromResult(heroService.GetHeroes());
            DetailedHero = allHeros.FirstOrDefault(q => q.Id == Id);
        }
    }
    private void GoBack()
    {
        JSRuntime.InvokeVoidAsync("history.back");
    }
}

