@page "/heroes"
@inject HeroService heroService
@inject MessageService messageService

<h2>My Heroes</h2>
<ul class="heroes">
    @foreach (Hero hero in _heroesList)
    {
        <li>
            <a href="/HeroDetails/@hero.Id"><span class="badge">@hero.Id</span> @hero.Name</a>
        </li>
    }
</ul>

@code {

    private Hero _selectedHero = null;
    private List<Hero> _heroesList = new List<Hero>();

    public void HeroSelected(int id)
    {
        _selectedHero = _heroesList.FirstOrDefault(q => q.Id == id);
        // messageService.Messages.Add("HeroService: Selected hero id=" + id);
    }

    protected override async Task OnInitializedAsync()
    {
        _heroesList = await Task.FromResult(heroService.GetHeroes());
    }

}
