@page "/messages"
@inject MessageService messageService


@if (messages!=null && messages.Any())
{
    <div>

        <h2 class="message">Messages</h2>
        <button class="clear message"
                @onclick="messageService.Clear()">
            clear
        </button>
        @foreach (var message in messages)
        {
         <div> @message </div>
        }

    </div>
}

@code{

    private List<string> messages;

    protected override async Task OnInitializedAsync()
    {
        messages = await Task.FromResult(messageService.Messages);
    }
}
