@page "/messages"

@using Microsoft.AspNetCore.Components.Web; 

@inject MessageService messageService


@if (LogMessages != null && LogMessages.Any())
{
    <div>

        <h2 class="message">Messages</h2>
        <button class="clear message"
                @onclick="@(e=>messageService.Clear())">
            clear
        </button>
        @foreach (var message in LogMessages)
        {
         <div> @message </div>
        }

    </div>
}

@code{

    [Parameter]
    public List<string> LogMessages { get; set; }

    [Parameter]
    public EventCallback<List<string>> LogMessagesChanged { get; set; }

}
