@inherits LayoutComponentBase
@using TourofHeroes.Pages

<h1>@Title</h1>

<nav>
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Dashboard
    </NavLink>
    <NavLink class="nav-link" href="heroes" Match="NavLinkMatch.Prefix">
        <span class="oi oi-home" aria-hidden="true"></span> Heroes
    </NavLink>
</nav>

<div class="main">
    <div class="content px-4">
        @Body

        <Messages />
    </div>
</div>

@code{
    private string Title = "Tour of Heroes";
}
